.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 1em 0;
  padding: 0;
}

.breadcrumbs ol {
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs ol li a {
	display: block;
	float: left;
	height: 1.5em;
	text-align: center;
	padding: 0 0.5em;
	position: relative;
  margin: 0;
  
	text-decoration: none;
}
