.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs ol {
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs li {
  margin-left: 5px;
  margin-right: 5px;
}