.home-all {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.issue-line {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 2px solid #211a1d;
  border-bottom: 2px solid #211a1d;
}

.issue-slogan {
  margin: 1rem 2rem;
  border-right: 2px solid #211a1d;
}

.issue-date {
  margin: 1rem 2rem;
  border-left: 2px solid #211a1d;
}

.issue-number {
  margin: 1rem 2rem;
}

.issue-number h3 {
  margin: 0;
}

.bottomline {
  background-color: #211a1d;
  height: 2rem;
}

.home-grid {
  width: auto;
  max-width: 1260px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 2rem;
  margin: 0;
}

.home-all h1 {
  font-size: 2.2rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.home-all .banner {
  border-top: 2px solid #211a1d;
  border-bottom: 2px solid #211a1d;
}

.home-all .banner h1 {
  margin: 0;
}

.home-logo {
  margin: 2rem;
  width: 100px;
}

.home-image {
  overflow: hidden;
}

.home-image img {
  height: 100%;
  width: 100%;
  padding: 2rem 0;
  object-fit: cover;
}

.home-first-block {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}

.home-left-column {
  max-width: 400px;
  margin: 1rem 1rem;
  display: flex;
  flex-direction: column;
}

.home-left-column section {
  width: 400px;
}

.home-right-column {
  max-width: 400px;
  margin: 1rem 1rem;
  display: flex;
  flex-direction: column;
}

.home-small-headlines {
  margin: 2rem 0 0;
}

.home-small-headlines h1 {
  font-size: 1.8rem;
  margin: 1rem 0;
}

.home_title {
  margin-top: 4rem;
}

.home_subtitle {
  margin-bottom: 1rem;
  font-family: 'Barlow', sans-serif;
  font-size: 1.8rem;
  line-height: 1.1;
}

.home_card {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  gap: 4rem;
  border-bottom: 0.5rem dashed #d4d4d4;
}

.home_card_image {
}

.home_card_description {
}

.home_card_separator {
}

@media all and (max-width: 1220px) {
  .home-grid {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

}

@media all and (max-width: 768px) {
  .home_grid {
    display: flex;
    flex-direction: column;
  }
}

@media all and (max-width: 650px) {
  .home-image {
    display: none;
  }

  
  .home-left-column section {
    width: unset;
  }


}