@media all and (max-width: 1660px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  .left-section {
    width: 100%;
    max-width: 960px;
    padding: 0;
    margin: 0;
    background-color: #fff;
    flex-direction: row;
  }
  .time-block {
    padding-top: 1.5rem;
  }
  .time-block span {
    margin-left: 1.5rem;
  }
  .left-time-block {
    padding-left: 0;
    width: 100%;
  }
  .table-of-contents {
    margin-left: 1.5rem;
  }
}

@media all and (max-width: 1200px) {
  .nav-and-post {
    flex-direction: column-reverse;
    margin-right: 0;
  }
}