.newproject {
  background-color: #c8d4ff;
  font-size: 120%;
  padding: 2rem;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  margin-bottom: 4rem;
  margin-top: -2.5rem;
  padding-top: 2.5rem;
}

.action button {
  background-color: #b8f03c;
  border: none;
  color: #232424;
  padding: 0.5em 1em;
  margin: 0;
  min-width: 150px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 0.5rem;
  cursor: pointer;
}

.hydro button {
  background-color: #2878cc 
}

.ruindex {

}

.ruindex section {
  margin: 2rem 0 4rem 0;
  display: flex;
  column-gap: 2rem;
  flex-direction: row;
  justify-content: space-between;
}

.inverse {
  flex-direction: row-reverse !important;
}

.ruindex img {
  height: 300px;
  border-radius: 0.5rem;
}

.ruindex h2 {
  
}

.ruindex p {
  
}

@media all and (max-width: 870px) {
  .ruindex {
  
  }
  
  .ruindex section {
    display: block;
  }
  
  .ruindex img {
    height: auto;
    width: 100%;
    max-width: 300px;
  }
  
  .ruindex h2 {
    
  }
  
  .ruindex p {
    
  }
  
  }
  