.topline {
  margin: 0;
  padding: 0;
  height: 3.2rem;
  border-bottom: #211a1d solid 0.25rem;
}

.menu {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: #f2f2f2;
  font-family: 'Manrope', sans-serif;
}

.back {
  position: relative;
  top: 0.5rem;
  height: 100%;
  bottom: -2.75rem;
  overflow-y: scroll;
}

.menuitem {
  border-bottom: 1px solid #ddd;
  margin: 0 auto;
}

.menuitem a {
  display: block;
  padding: .7rem 0;
  color: #211a1d;
  text-decoration: none;
  text-align: center;
}

.menuitem a:hover {
  color: #211a1d;
  text-decoration: none;
  background-color: #eee;
}

.menuitem a:focus {
  text-decoration: none;
}

.menuitem a:visited {
  color: #211a1d;
}

.active-menu-item {
  background-color: #e8e8f9;
}

.close {
  position: fixed;
  top: 0.1rem;
  left: 1rem;
  height: 2.7rem;
  cursor: pointer;
}

.hint {
  margin: 3rem 2rem;
}