.topnav {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  border-bottom: #211a1d solid 0.25rem;
}

.topnav img {
  float: left;
  padding: 0;
}

.topnav a {
  float: left;
  color: #211a1d;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}

.topnav a:link {
  color: #211a1d;
}

.topnav a:visited {
  color: #211a1d;
}

.topnav a:hover {
  background-color: #211a1d;
  color: #f2f2f2;
}

.topnav a.active {
  background-color: #6320ee;
  color: white;
}

.mobilenav {
  display: none;
}

.burgermenu {
  width: 50px;
}
.searchmenu {
  width: 50px;
}

.logomenu {
  display: inline-block;
  width: 50px;
}

a.activelink {
  background: repeating-linear-gradient(
    -45deg,
    #5b5356,
    #5b5356 10px,
    #211a1d 10px,
    #211a1d 20px
  );
  color: #f2f2f2;
}

a:link.activelink  {
}

a:visited.activelink  {
  color: #f2f2f2;
}

a:hover.activelink {
  background: unset;
  background-color: #211a1d;
}

a.active.activelink  {
}

@media all and (max-width: 870px) {
  .titlelink { display: none; }
}

@media all and (max-width: 675px) {
  .topnav { display: none; }
  .mobilenav {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content:space-between;
    font-family: 'Manrope', sans-serif;
    border-bottom: #211a1d solid 0.25rem;
  }
}


