.blognavigation {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  justify-content: center;
  column-gap: 1rem;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 2rem 0;
}

.blognavigation a {
  display: block;
  width: 2.5rem;
  text-align: center;
  padding: 0.5rem;
  margin: 0;
  color: #232424;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.blognavigation a:hover {
  background-color: #143961;
  border-color: #000;
  color: #f9f9f9;
}

.numberpage {
  display: block;
}

.currentpage a {
  display: block;
  width: 2.5rem;
  text-align: center;
  border-color: #000;
  padding: 0.5rem;
  margin: 0;
  text-decoration: none;
  background: #0A1E33;
  color: #f9f9f9;
  font-weight: bold;
}

.prevpage a {
  width: max-content;
}

.nextpage a {
  width: max-content;
}

.prevpage span {
  width: max-content;
  white-space: nowrap;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #ccc;
}

.nextpage span {
  width: max-content;
  white-space: nowrap;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #ccc;
}

@media screen and (max-width: 675px) {
  .numberpage {
    display: none;
  }
  .currentpage {
    display: none;
  }
}