.recentarticles {
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 300px;
  padding: 2.5rem 1.5rem 4rem;
}

@media all and (max-width: 1660px) {
  .recentarticles {
    max-width: 960px;
    padding: 2.5rem 1.5rem 4rem;
  }
}

@media all and (max-width: 675px) {
}