.root {
  position: relative;
  margin: 0.6em 0.85em;
  width: min-content;
  float: right;
}

.box {
  margin: 0;
}

.root input {
  outline: none;
  border: #b9b9b9 solid 1px;
  border-radius: 2px;
  padding: 0.2rem 0.5rem;
  font-size: 0.8em;
  transition: 100ms;
}

.root input::placeholder {
  color: rgb(56, 56, 56);
}

.root input:focus {
  border: #222222 solid 1px;
}

.box .open {
  width: 10em;
  background: #fff;
  cursor: text;
  margin-left: -1.6em;
  padding-left: 1.6em;
}

.result {
  max-height: 80vh;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  z-index: 200;
  right: 0;
  top: 100%;
  margin-top: 0.5em;
  width: 80vw;
  max-width: 30em;
  box-shadow: 0 0 5px 0;
  padding: 1em;
  border-radius: 2px;
  background: #fff;
  display: none;
}

.show {
  display: block;
}

@media all and (max-width: 960px) {
}

@media all and (max-width: 768px) {
  .root {
    display: block;
    float: unset;
    width: 100%;
    margin: 0;
    border-bottom: #211a1d solid 0.25rem;
  }

  .root input {
    width: 100%;
    padding: .7rem 0;
    background-color: #f2f2f2;
    font-size: 1.6rem;
    text-align: center;
    border: none;
  }

  .root input:focus {
    border: none;
  }

  .result {
    max-height: 70vh;
    max-width: unset;
    overflow-x: unset;
    position: unset;
    right: unset;
    top: unset;
    width: 100%;
    margin-top: 0;
    box-shadow: none;
    padding: 1em;
    padding-bottom: 2rem;
    background: #fff;
    border-top: #211a1d solid 0.25rem;
  }
}