.root {
  position: relative;
  margin: 0.6em 0.85em;
  width: min-content;
  float: right;
}

.box {
  margin: 0;
}

.root input {
  outline: none;
  border: #b9b9b9 solid 1px;
  border-radius: 2px;
  padding: 0.2rem 0.5rem;
  font-size: 0.8em;
  transition: 100ms;
}

.root input::placeholder {
  color: rgb(56, 56, 56);
}

.root input:focus {
  border: #222222 solid 1px;
}

.hasfocus {

}

.box .open {
  width: 10em;
  background: #fff;
  cursor: text;
  margin-left: -1.6em;
  padding-left: 1.6em;
}

.result {
  max-height: 80vh;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  z-index: 2;
  right: 0;
  top: 100%;
  margin-top: 0.5em;
  width: 80vw;
  max-width: 30em;
  box-shadow: 0 0 5px 0;
  padding: 1em;
  border-radius: 2px;
  background: #fff;
  display: none;
}

.show {
  display: block;
}
